body{
	font-family: roboto;
	background: rgb(0, 11, 33);
}

#themePicker{
	text-align: right;
	border-radius: 20px;
	padding: 10px;
}

select{
	border-radius: 20px;
	font-family: roboto;
}

#container{
	width: 500px;
	margin: 100px auto;
	background: #006891;
	box-shadow: 0 0 5px rgba(66, 66, 150, 0.8);
	color: #fff;
}

.done{
	color: #fff;
	text-decoration: line-through;
	opacity: 0.75;
	transition: all 0.5s linear;
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	-ms-transition: all 0.5s linear;
}

.applaud{
	background: #fff;
	color: #000;
	padding-left: 22px;
}

h1{
	background: #02b7ff;
	margin: 0;
	padding: 10px 20px;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: normal;
}

ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

li{
	background: rgb(0, 26, 44);
	height: 40px;
	line-height: 40px;
}

#openItems li:nth-child(2n){
	background: #fff;
	color: black;
}

input{
	font-size: 18px;
	background: rgb(0, 30, 60);
	width: 100%;
	padding: 13px 13px 13px 20px;
	color: #fff;
	border: 1px solid black;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	border: 3px solid rgba(0, 0, 0, 0.5)
}

input:focus{
	border: 2px solid #42f4b9;
	outline: none;
}

.fa-check-square{
	float: right;
}

.fa-plus{
	float: right;
	margin-left: 15px;
}

span{
	background: #e74c3c;
	height: 40px;
	width: 0px;
	margin-right: 20px;
	text-align: center;
	color: white;
	display: inline-block;
	opacity: 0;
	transition: 0.2s all linear;
}

#closedItems span{
	background: #42f4b9
}

span:hover{
	width: 40px;
	opacity: 1.0;
}

